#page-wrapper {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
}

h1 {
    letter-spacing: 2px;
}

.titles {
    border-bottom: solid black 1px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
    margin-top: -10px;
}

.checkboxes {
    letter-spacing: 1px;
}

.checkbox {
    padding: 5px;
}

#svg-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#categories
{
    display: flex;
}

#svg-1
{
    margin: 0 auto;
    display: block;
}